<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta charset="unicode">
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posts</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/posts.css">
    <script src="./js/posts.js"></script>
</head>

<body>
    <div class="container">
        <div class="makePost">
            <div class="hold">
                <a href="/" class="click">Make New Quote Now</a>
            </div>
        </div>
        <div class="allPosts">
            <!-- <div class="post">
                <h3>name</h3>
                <p>content</p>
                <small>date</small>
            </div> -->
        </div>
    </div>
    
</body>

</html>